[Unit]
Description=VoIP support for UniFi
After=network-online.target systemd-networkd.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/data/voip/voipd start
ExecStop=/data/voip/voipd stop
Restart=on-failure
RestartSec=15
TimeoutStopSec=20
KillMode=mixed
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
